*{
  font-family: Arial, sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
    background-color: white;
}
.container{
  height: 100%;
  width:100%;
  display:grid;
  justify-content: center;
  background-color: white;
  text-align: center;
}
.box{
  margin-top: 30px;
  padding:20px;
  width: 350px;
  height:380px;
  text-align: center;
  border: 0px solid ;
  background-color: white;
}
.english{
  font-size: 9px;
  margin-top: 10px;
  color: grey;
}
#head{
  height: 100px;
  margin-top: 70px;
  margin-bottom: 30px;
}
#int{
    border-radius: 5px;
  width: 250px;
  height:40px;
  margin: 10px 30px 10px 30px;
  margin-bottom: 0px;
  
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid rgba(216, 211, 211);
  
  
}
#a{
  width: 250px;
  height:40px;
  margin: 20px 30px 10px 30px;
  background-color: dodgerblue;
  padding: 10px;
  border: 1px solid ;
  border-radius: 10px;
  color: white;
}
.facebook{
  
  font-size: 14px;
  background-color:dodgerblue;
  color: white;
  padding:6px;
  width:250px;
  border-radius: 5px;
}
.or{ 
  color: #999;
  padding: 20px;
}
.pass{
  font-size: 13px;
  padding: 5px;
  color: dodgerblue;
  margin-left: 146px;
}
.dont{
  margin-top: 20px;
  color:grey;
  font-size: 13px;
  
}
.sign{
  font-size: 18px;
  color: dodgerblue;
  
}
.h{
  margin-top: -10px;
  padding: 5px;
  top:0;
}
.footer{
  position: fixed;
  width: 100%;
  padding: 10px;
  background: whitesmoke;
  bottom: 0;
}
.from{
  font-size: 10px;
  color: grey;
}
